<div>
    <h2>Here is our entire Book Collection:</h2>
    <p>Category:Tech <br>Title:Introduction to Angular <br>Cost:50.25 <br>Author:Bob, T <br>Year:2017</p>
    <p> Category:Tech<br>Title:Angular        Advanced Concepts<br>        Cost:125.95<br>        Author:Zorb,Tar<br>        Year:2019</p>
    <p>Category:Kids<br>Title:A Fantastic Story<br>Cost:12.25<br>Author:Jane, C and Tala, Tolo<br>Year:2009</p>
    <p>Category:Cook<br>Title:The Best Shawarmas<br>Cost:18.99<br>Author:Chef, Z<br>Year:1978</p>
    <p>Category:Tech<br>Title:Angular Demystified<br>Cost:210.5<br> Author:Zorb, Tar<br>Year:2020</p>
</div>