<form class="ui large form segment"  #profileForm="ngForm" >
  <h3 class="ui header">Enter your information:</h3>

  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input class="form-control" name="firstName" id="firstName" [(ngModel)]="profile.firstName" required>
  </div>

  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input class="form-control" name="lastName" id="lastName" [(ngModel)]="profile.lastName" required>
  </div>

  <div class="form-group">
    <label for="phone">Phone Number:</label>
    <input class="form-control" name="phone" id="phone" [(ngModel)]="profile.phone" >
  </div>
  
  <div class="form-group">
    <label for="email">Email Address:</label>
    <input class="form-control" name="email" id="email" [(ngModel)]="profile.email" email>
  </div>

<p>
Form Status: {{ profileForm.status }}
</p>

<button  class="btn btn-dark" [disabled]="!profileForm.valid" name="save" (click)="save()">Submit</button>


</form> 
